<% @json_response.each do |user|%>
  <div>
    <h3>first name: <%= user['first_name'] %></h3>
    <h3>last name: <%= user['last_name'] %></h3>
    <h3>diplay name: <%= user['display_name'] %></h3>
    <hr>
  </div>
<% end %>